.DS_Store
/backv4/.idea/
/backv4/target/
/backv5/target/
.idea/
/.idea/
/.idea
/pharmacy/.env
.env.env.alertmanager
*.local
monitoring/alertmanager/alertmanager.yml.local
monitoring/alertmanager/alertmanager.yml
